In [1]:
import pickle
import pandas as pd

In [5]:
data  = {}
with open('data/sister_cities.pkl','rb') as f:
    data = pickle.load(f)
df = pd.DataFrame(data).T
df.head()

,sister_city,country_of_sc,country,continent,continent_of_sc
Asadabad,[Union City],[United States],Afghanistan,Asia,[North America]
Ghazni,"[Hayward, Nishapur]","[United States, Iran]",Afghanistan,Asia,"[North America, Asia]"
Herat,"[Council Bluffs, Nishapur]","[United States, Iran]",Afghanistan,Asia,"[North America, Asia]"
Jalalabad,[San Diego],[United States],Afghanistan,Asia,[North America]
Kabul,"[Ankara, Kazan]","[Turkey, Russia]",Afghanistan,Asia,"[Europe, Europe]"

In [6]:
data  = {}
with open('data/sister_cities_old.pkl','rb') as f:
    data = pickle.load(f)
dfo = pd.DataFrame(data).T
dfo.head()

,sister_city,country_of_sc,country,continent
Asadabad,[Union City],[United States],Afghanistan,Asia
Ghazni,"[Hayward, Nishapur]","[United States, Iran]",Afghanistan,Asia
Herat,"[Council Bluffs, Nishapur]","[United States, Iran]",Afghanistan,Asia
Jalalabad,[San Diego],[United States],Afghanistan,Asia
Kabul,"[Ankara, Kazan]","[Turkey, Russia]",Afghanistan,Asia

In [7]:
len(dfo.index)

6331

In [8]:
len(df.index)

6308